<h1> Welcome Login In Below </h1>

<div>
<form action="/login" method=POST>
<label for="email">Email:</label>
<input type="text" name="email" />
</p>
<p>
<label for="password">Password:</label>
<input type="password" name="password" />
</p>
<input type="submit" value ="Login" /> <a href='/forms/signup'>Create New Account</a>
</form>
</div>