<form action='/routine' method=POST>

    <label for='title'>Routine Title</label>
    <input type="text" id='title' name="title"> <br>

     <label for='description'>Description</label>
     <input type="text" id='description' name="description"> <br>

      <label for='sets'>How many sets?</label>
     <input type="text" id='sets' name="sets"> <br>

       <label for='reps'>How many reps?</label>
     <input type="text" id='reps' name="reps"> <br>

       <label for='rest'>How long should you rest?</label>
     <input type="text" id='rest' name="rest"> <br>

       <label for='exercise'>What part of the body does this work on?</label>
     <input type="text" id='exercise' name="exercise" > <br>
     
       <label for='duration'>How long is the routine?</label>
     <input type="text" id='duration' name="duration"> <br>

    <input type="submit" value="Submit" id='Submit'>
</form> 